  'Doctor-Appointment-System-main/server.js'-text
  'Doctor-Appointment-System-main/.env-sample' -text
  'Doctor-Appointment-System-main/.gitignore' -text
  'Doctor-Appointment-System-main/README.md' -text
  'Doctor-Appointment-System-main/client/.gitignore' -text
  'Doctor-Appointment-System-main/client/README.md' -text
  'Doctor-Appointment-System-main/client/package-lock.json' -text
  'Doctor-Appointment-System-main/client/package.json' -text
  'Doctor-Appointment-System-main/client/public/index.html' -text
  'Doctor-Appointment-System-main/client/public/manifest.json' -text
  'Doctor-Appointment-System-main/client/public/robots.txt' -text
  'Doctor-Appointment-System-main/client/src/App.js' -text
  'Doctor-Appointment-System-main/client/src/App.test.js' -text
  'Doctor-Appointment-System-main/client/src/Data/data.js' -text
  'Doctor-Appointment-System-main/client/src/components/DoctorList.js' -text
  'Doctor-Appointment-System-main/client/src/components/Layout.js' -text
  'Doctor-Appointment-System-main/client/src/components/ProtectedRoute.js' -text
  'Doctor-Appointment-System-main/client/src/components/PublicRoute.js' -text
  'Doctor-Appointment-System-main/client/src/components/Spinner.js' -text
  'Doctor-Appointment-System-main/client/src/index.css' -text
  'Doctor-Appointment-System-main/client/src/index.js' -text
  'Doctor-Appointment-System-main/client/src/pages/ApplyDoctor.js' -text
  'Doctor-Appointment-System-main/client/src/pages/Appointments.js' -text
  'Doctor-Appointment-System-main/client/src/pages/BookingPage.js' -text
  'Doctor-Appointment-System-main/client/src/pages/HomePage.js' -text
  'Doctor-Appointment-System-main/client/src/pages/Login.js' -text
  'Doctor-Appointment-System-main/client/src/pages/NotificationPage.js' -text
  'Doctor-Appointment-System-main/client/src/pages/Register.js' -text
  'Doctor-Appointment-System-main/client/src/pages/admin/Doctors.js' -text
  'Doctor-Appointment-System-main/client/src/pages/admin/Users.js' -text
  'Doctor-Appointment-System-main/client/src/pages/doctor/DoctorAppointments.js' -text
  'Doctor-Appointment-System-main/client/src/pages/doctor/Profile.js' -text
  'Doctor-Appointment-System-main/client/src/redux/features/alertSlice.js' -text
  'Doctor-Appointment-System-main/client/src/redux/features/userSlice.js' -text
  'Doctor-Appointment-System-main/client/src/redux/store.js' -text
  'Doctor-Appointment-System-main/client/src/reportWebVitals.js' -text
  'Doctor-Appointment-System-main/client/src/setupTests.js' -text
  'Doctor-Appointment-System-main/client/src/styles/LayoutStyles.css' -text
  'Doctor-Appointment-System-main/client/src/styles/RegisterStyles.css' -text
  'Doctor-Appointment-System-main/config/db.js' -text
  'Doctor-Appointment-System-main/controllers/adminCtrl.js' -text
  'Doctor-Appointment-System-main/controllers/userCtrl.js' -text
  'Doctor-Appointment-System-main/models/appointmentModel.js' -text
  'Doctor-Appointment-System-main/models/doctorModel.js' -text
  'Doctor-Appointment-System-main/models/userModels.js' -text
  'Doctor-Appointment-System-main/package-lock.json' -text
  'Doctor-Appointment-System-main/package.json' -text
  'Doctor-Appointment-System-main/routes/adminRoutes.js' -text
  'Doctor-Appointment-System-main/routes/doctorRoutes.js' -text
'Doctor-Appointment-System-main/routes/userRoutes.js'-text